.TweetItem {
    display: flex;
    border-bottom: 1px solid lightgrey;
    padding: 12px;
    height: fit-content;
}
  
.TweetItem img {
    width: 50px;
    height: 50px;
}

.Tweet__profile-pic{
    border-radius: 100%;
}

.UserName{
    font-weight: bold;
}

.Tweet__body{
    margin: 5px 0px;
    font-size: 0.9rem;
}