.TweetModal{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}

.TweetModal__Content{
    height: 220px;
    position: fixed;
    left: calc(50% - 175px);
    z-index: 2;
}

.TweetModal__Submit{
    position: relative;
    top: 205px;
}

.TModal__Overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
}

.EditModal{
    position: fixed;
    background-color: white;
    width: 350px;
    padding: 10px;
}

.Tweet__Body{
    position: fixed;
    width: 350px;
    height: 200px;
}
